@use '../src/styles/variables.scss' as *;

.main {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  position: relative;
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

 // Columns 
.column {
  display: grid;
  grid-gap: 1rem;
  padding: 0.7rem;
  align-self: flex-start;
}

.column.column-1 {
  flex: 1 1 30%;
}

.column.column-2 {
  flex: 1 1 30%;
}

.column.column.column-3 {
  flex: 1 1 30%;
}


//  Boxes 
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $bg-color;
  border-radius: 0.8rem;
  border: 1.5px solid $faded-purple-color;
  color: $text-color;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.sub-box {
  display: grid;
  grid-template-rows: auto;
}

.content-A1 {
  display:flex; 
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  
  img {
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;

}

.content-A1-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: #fff;
    font-size: 1.4rem;
  }

  .italic-text {
    font-style: italic;
    font-size: 1rem;
    color: $text-color;
  }
  
  p {
    color: $text-color;
    font-size: 1rem;
  }

  .highlighted-text {
    color: $purple-color;
  }
}

.blinker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: $bg-secondary-color;

  p {
    font-size: 0.9rem;
    color: $text-color;
  }
  .blink {
    animation: blinker 4s linear infinite;
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    border: 1px solid green;
    background-color: green;
    border-radius: 100%;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  }
}

.A1-info {
  display: flex; 
  align-items: flex-start; 
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  font-size: 1rem;
  gap: 1rem;

  .A1-info-wrapper-first, .A1-info-wrapper-second {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .A1-age, .A1-country, .A1-coffee {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: auto; 
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: $bg-secondary-color;
    cursor: default;
  }
  p {
    margin-left: 0.3rem;
  }
}

.content-A1-2 {
  p {
    font-size: 1rem;
    border-radius: 2rem;
    background-color: $bg-secondary-color;
    padding: 1rem 1rem;
  }
  .italic-text {
    color: $text-color;
    font-weight: bold;
  }
  .highlighted-text {
    font-style: italic;
    color: $purple-color;
  }
}

.content-A1-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;

  a {
    width: 50%;
    padding: 0.7rem;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
  }

  a:hover {
    opacity: 0.8;
  }

  .A1-1, .A1-3 {
    background-color: #1E1E1F;
    color: #fff;
  }

  .A1-2 {
    background-color: $purple-color;
    color: #111111;
  }
}

.A2-title-wrapper, 
.A3-title-wrapper, 
.B1-title-wrapper, 
.C1-title-wrapper,
.C2-title-wrapper, 
.C3-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.5rem;


  h1 {
    color: #fff;
    font-size: 1.5rem;
    gap: 1rem;
  }
}

.content-A2, .content-A3{
  p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $text-color;
    background-color: $bg-secondary-color;
    padding: 1rem;
    border-radius: 1.5rem;

  }
  
  .highlighted-text {
    color: $purple-color;
    font-size: 1.2rem;
  }

  .italic-text {
    font-style: italic;
    font-weight: 600;
  }
}


.content-A2 {
  .dot {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
  }
}

.B1-knowledge {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto,1fr);
  grid-gap: 1rem;

  a {
    padding: 1rem;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: $text-color;
    background-color: $bg-secondary-color;
    height: auto;
    transition: transform 0.2s;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.content-B2-1, .content-B2-2, .content-B2-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .B2-1-title, .B2-2-title, .B2-3-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .plus-symbol {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .plus-symbol::before,
  .plus-symbol::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0.4rem;
      background-color: $purple-color;
      border-radius: 2px;
      transform: translateY(-50%);
  }

  /* Vertical line */
  .plus-symbol::after {
      top: 0;
      left: 50%;
      width: 0.4rem;
      height: 100%;
      transform: translateX(-50%);
  }

  .sub-content-B2-1, .sub-content-B2-2, .sub-content-B2-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 0.5rem;
    background-color: $bg-secondary-color;
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;

    p {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}

.content-B3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  h1 {
    color: #fff;
    font-size: 1.5rem;
  }

  h2 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .content-B3-buttons, .accordion-B3 {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  
    a {
      width: 100%;
      border-radius: 0.7rem;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: #000;
      font-weight: 600;
      font-size: 0.8rem;
      background-color: $purple-color;
      border-radius: 0.5rem;
      padding: 0.6rem 1.2rem;
    }
  
    a:hover {
      opacity: 0.8;
    }
  }
}

.box-B4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: $text-color;
  padding: 1.5rem;
  text-align: center;
  gap: 1rem;

  h1,.italic-text {
    font-size: 1rem;
    font-weight: normal;
  }

  .italic-text {
    font-style: italic;
    color: $purple-color;
  }
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  p {
    color: rgba(178, 167, 251, 0.5);
    font-weight: bolder;
  }
  
  .project  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $bg-secondary-color;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.6rem;
    width: 100%;
  
    h1 {
      font-size: 1.1rem;
      font-weight: 400;
      padding: 0.7rem;
    }
  
    .italic-text {
      font-style: italic;
      font-size: 1rem;
    }
  }
}


.content-C2 {
  p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $text-color;
    background-color: $bg-secondary-color;
    padding: 1rem;
    border-radius: 1.5rem;
  }

  .highlighted-text {
    color: $purple-color;
  }

  .italic-text {
    font-style: italic;
    font-weight: 600;
  }
}



.tea-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;


  .the-tea {
    background-color: $bg-secondary-color;
    border-radius: 0.8rem;
    border: 1.5px solid $faded-purple-color;
    padding: 1rem;
  }

  h1 {
    font-size: 0.9rem;
    color: #fff;
    text-align: start;
    line-height: 1rem;
  }
  .subtitle-C3, 
  .the-tea-stars, 
  .paragraph-C3 {
    font-size: 0.8rem;
  }
}

// Media Queries for responsiveness