$bg-color: #121212;
$bg-secondary-color: #0D0D0D;
$text-color: rgb(156, 163, 175);
$highlighted-text: rgb(200, 200, 200);;
$purple-color: #b2a7fb;
$faded-purple-color: rgba(178, 167, 251, 0.2);
$primary-purple: #9a73f8;
$primary-blue: #00b7ff;
